<mat-card class="country_card">
    <img mat-card-image src="{{country.flags.png}}" alt="{{country.name}} flag" class="country_card__flag">
    <mat-card-content>
        <h1 class="country_card__name">{{country.name}}</h1>
        <p class="country_card__population"><strong>Population: </strong> {{country.population}}</p>
        <p class="country_card__region"><strong>Region: </strong>{{country.region}}</p>
        <p class="country_card__capital"><strong>Capital: </strong>{{country.capital}}</p>
    </mat-card-content>
</mat-card>